* {
  box-sizing: border-box;
}

/* * {
  box-sizing: border-box;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mission-wrapper {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
} */
/* App container */
.main-content {
  display: flex;
  flex-direction: column;
  gap: 0; /* No spacing between sections */
  position: relative;
  z-index: 1;
}

body, #root {
  position: relative;
  z-index: 0;
}

/* .about-section,
.testimonials-section,
.contact-section,
.footer {
  position: relative;
  z-index: 100;
} */

.video-overlay {
  pointer-events: auto;
}

/* .about-section,
.testimonials-section,
.contact-section,
.footer {
  pointer-events: none;
} */
/* 
body.modal-open .about-section,
body.modal-open .testimonials-section,
body.modal-open .contact-section,
body.modal-open .footer {
  visibility: hidden;
  pointer-events: none;
} */

body.modal-open {
  overflow: hidden;
}



/* MissionVision wrapper */
.mission-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

/* Ensure each section stacks properly */
section {
  scroll-margin-top: 100px;
  scroll-margin-bottom: 100px;
  position: relative;
  z-index: 2;
}
